*{
    margin: 0;
}

.contenedor{
    background: tomato;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;

}

p{
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#noBtn{
    transform: translate(-100%,0);
}

#yesBtn{
    position: absolute;
}